.navbar {
  height: 10vh;
  border: 2px solid black;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  border: 2px solid black;
}

.board {
  height: 50%;
  width: 25;
  display: flex;
  box-shadow: 6px 6px 10px gray;
}
