.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  box-shadow: 0px 2px 5px gray;
}
.title {
  width: 30%;
}
.statistics {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 70%;
}

.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.board {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 6px 6px 10px gray;
}

.tile {
  width: 110px;
  height: 110px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
}

#tile0 {
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

#tile1 {
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}
#tile2 {
  border-left: 5px solid black;
  border-bottom: 5px solid black;
}
#tile3 {
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}
#tile4 {
  border: 5px solid black;
}
#tile5 {
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
}
#tile6 {
  border-right: 5px solid black;
  border-top: 5px solid black;
}
#tile7 {
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-top: 5px solid black;
}
#tile8 {
  border-left: 5px solid black;
  border-top: 5px solid black;
}

.game p {
  font-size: 2em;
  font-weight: bold;
}

@media only screen and (max-width: 400px) {
  .title {
    display: flex;
    font-size: 0.6em;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    align-items: center;
  }
  .statistics {
    display: flex;
    font-size: 0.6em;
  }
}

.login {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
}
